@import '../../constants/ColorsStyles';

.root {
  background-color: $backgroundMain;
  border-top: 1.5px solid $colorOrange;
}

.main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0 20px 0;
}

.label {
  font-size: 16px;
  color: $colorText;
}