@import '../../../../constants/ColorsStyles';


.card_slider {
  width: 500px;
  padding: 200px 0 0 30px;
}

.slider {
  width: 100%;
  height: 420px;
  position: relative;
}

.title {
  font-size: 14px;
  color: $colorOrange;
  margin-bottom: 10px;
  letter-spacing: 0.15em;
}

.label {
  font-size: 38px;
  color: $colorLabel;
  margin-bottom: 15px;
}

.text {
  font-size: 15px;
  color: $colorText;
  margin-bottom: 20px;
  line-height: 22px;
  letter-spacing: 0.02em;
}

.button_more {
  font-size: 14px;
  color: $colorOrange;
  margin-bottom: 20px;
  letter-spacing: 0.02em;
  transition: 0.3s;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

.navigation_slider {
  position: absolute;
  bottom: 0;
  right: 20px;
}

.navigation_min {
  display: flex;
  align-items: center;
}

.current_navigation {
  font-size: 16px;
  color: $colorText;
  margin: 0 10px;
  transition: 0.3s;
}

.button_navigation {
  margin-top: 5px;
  transition: 0.3s;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

.transition {
  opacity: 1;
  transition: 0.4s;
}

.transition_null {
  opacity: 0;
  transition: 0.3s;
}

@media (max-width: 1110px) {
  .card_slider {
    width: 350px;
    padding: 150px 0 0 0;
  }

  .label {
    font-size: 32px;
  }

  .text {
    font-size: 14px;
  }

  .slider {
    margin-top: 50px;
    height: 360px;
  }
}

@media (max-width: 1010px) {
  .slider {
    height: 320px;
  }

  .card_slider {
    width: 500px;
    padding: 0 0 20px 0;
  }

  .transition {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .transition_null {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .title {
    text-align: center;
  }

  .label {
    text-align: center;
  }

  .text {
    text-align: center;
  }

  .navigation_slider {
    position: absolute;
    bottom: 0;
    right: 20px;
    left: 20px;
    display: flex;
    justify-content: center;
  }
}